{% extends 'componentes/base_site.html' %}

{% block content %}

<div class="container mt-4">
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Informações Prontuário</h3>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Detalhe Prontuário:</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                            <div class="card">

                                <div class="card-body">
                                    <h3 class="card-title">Nome: {{ object.event.paciente}}</h3>
                                    <p class="card-text">Terapeuta: {{ object.event.terapeuta}}</p>
                                    <p class="card-text">Data da consulta: {{ object.event.start_time }}</p>
                                    <p class="card-text">Prontuário do paciente: {{ object.prontuario }}</p>
                                </div>
                            </div>
                            <a href="{% url 'calendario:calendar' %}" class="btn btn-info btn-sm">Voltar para agendamento</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="x_panel">

            
            <div class="x_content">

            <hr>
            <h4>Histórico de Prontuários do Paciente</h4>
            
            {% if outros_prontuarios %}
                <ul class="list-group">
                    {% for pront in outros_prontuarios %}
                        <li class="list-group-item">
                            <strong>Data:</strong> {{ pront.event.start_time|date:"d/m/Y H:i" }}<br>
                            <strong>Terapeuta:</strong> {{ pront.event.terapeuta }}<br>
                            <a href="{% url 'prontuario-detail' pront.id %}" class="btn btn-sm btn-primary mt-1">
                                Ver Prontuário
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Este paciente não possui outros prontuários registrados.</p>
            {% endif %}
         </div>  
        </div>
        </div>  
        </div>        
        </div>
    </div>
</div>


{% endblock %}